<h1><%= @team.city %> <%= @team.name %></h1>

<h2>Coach:</h2>
<ul>
    <li><h3><%= @team.coach%></h3></li>
</ul>

<h2>Players:</h2><br>
<% @team.players.order_by_number.each do |player| %>
    <ul>
        <li><h3><%= link_to name_and_number(player), team_player_path(@team, player)%></h3></li>
    </ul>
<% end %>

<br>
<br>

<% if current_user == @team.user %>
    <%= link_to "Add Player", new_team_player_path(@team), class: "button" %><br><br><br>

    <%= link_to "Edit Team", edit_user_team_path(current_user, @team), class: "button"%><br><br>


<% end %>

    <%= form_tag user_team_path(current_user, @team), method: "delete" %>
    <%= submit_tag "Delete Team", class: "button" %><br><br>

